form#myProductLineForm(action="/productLine", method="post")
	input(type="text" placeholder="ProductLine" required name="productLine")
	input(type="text" placeholder="textDescription" required name="textDescription")
	input(type="text" placeholder="htmlDescription" name="htmlDescription")
	input(type="text" placeholder="image" name="image")
	button(type="submit") Submit